.pay-money {
  padding: 2%;
  display: flex;
  justify-content: space-evenly;
}
.pay-onetitle {
  width: 60%;
}
.pay_onetitle-secondtime {
  display: flex;
  justify-content: space-evenly;
}
.pay_secondtime-onelist {
  width: 100%;
}
.pay_secondtime-onelist {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.pay-suborder {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.pay-twotitle {
  width: 40%;
  border-left: 1px solid #807f7f;
}
.pay-content {
  font-size: 35px;
  padding-left: 11.5%;
  color: rgb(50, 137, 236);
}
.pay_secondtime-modor {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}
.pay_moder-dirver,
.fa-user-circle-o {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.payer,
.pay-addresssever1::after {
  height: 30px;
  padding-left: 2%;
}
.seon-message {
  height: 70px;
  padding-left: 2%;
}
.pay-addressspaye3,
.pay-addresssever2 {
  border: none;
  background: #d8d8d8;
  width: 100%;
}
.pay-addresssever1 {
  border: none;
  width: 100%;
}

.consaigon-funter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #6d6f6d;
}
.fa-caret-down {
  padding-right: 2%;
}
.onemore-content,
.severonetime-content {
  font-size: 25px;
  font-weight: 600;
}
.pay_twolist-twomore {
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: aquamarine;
  font-size: 20px;
}
.pay_secondtime-twolist {
  width: 30%;
}
.threemore-severtwotime {
  height: 50px;
  border-radius: 5px;
  background: #f0f0f0;
  font-size: 20px;
  border: 1px solid #c4c4c4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.severthreetime-content {
  height: 16px;
  width: 17px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
}

.severthreetime-content:hover {
  color: rgb(41, 44, 44);
  background: aqua;
  border-radius: 20px;
}

.severtwotime-content {
  padding-left: 2%;
}
.sayertime {
  background: #d8d8d8;
}
.twotitle-onepause {
  margin: 3% 0;
  font-size: 25px;
  border-top: 1px solid black;
  padding: 3% 0;
  border-bottom: 1px solid black;
  width: 60%;
  text-align: center;
}
.product-list {
  height: 400px;
  width: 60%;
  margin: 3%;
  border-bottom: 1px solid black;
}
.driver-content {
  color: rgb(32, 112, 231);
  cursor: pointer;
}
.twotitle-sale {
  margin: 3%;
  width: 60%;
  border-bottom: 1px solid black;
  padding: 0 0 3%;
}
.pay-saleer {
  height: 50px;
  width: 70%;
}
.twotitle-user {
  height: 56px;
  width: 27%;
}
.twotitle-endding {
  margin: 3%;
  display: flex;
  width: 60%;
  justify-content: space-between;
}
.twotitle-return {
  height: 50px;
  color: rgb(47, 76, 243);
  border: none;
  background: none;
  cursor: pointer;
}
.twotitle-muangay {
  background: rgb(7 136 255 / 76%);
  color: #fff;
  border: none;
  width: 30%;
  font-size: 18px;
}
.error-message,
.error-name,
.error-addresssever1 {
  color: red;
  font-size: 15px;
}
.secontion-content {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.secontion-title {
  background-color: #f5f5f5;
  background-image: radial-gradient(#e0e0e0 1px, transparent 1px);
  padding: 30px;
  border-radius: 12px;
  width: 30%;
  text-align: center;
  position: absolute;
  top: 10%;
}
.secontion-input-name,
.secontion-input-pass {
  width: 80%;
  height: 35px;
}
.secontion-fillterion {
  margin-bottom: 3%;
}
.secontion-fivertion {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.close-btnner {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.secontion-writetin {
  margin: 0 0 2% 0;
  font-size: 1.8em;
}
.secontion-worders {
  display: flex;
  justify-content: center;
}
.secontion-severtime {
  width: 30%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  background: aqua;
  border-radius: 7px;
  cursor: pointer;
  font-size: 20px;
}
.secontion-revertime {
  width: 30%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  background: rgb(217, 247, 88);
  border-radius: 7px;
  cursor: pointer;
  font-size: 20px;
}
.secontion-name-error {
  text-align: start;
  margin-left: 10%;
}
.secontion-pass-error {
  color: red;
  font-size: 15px;
  text-align: start;
  margin-left: 10%;
}
.secontion-forgettime {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
}
.forgetsection {
  color: red;
  font-family: sans-serif;
  text-decoration: underline;
  cursor: pointer;
}
.register-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.register-form {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 25%;
  position: absolute;
  text-align: center;
  top: 10%;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.review {
  height: 50px;
  margin: 0 0 4% 0;
}
.resgister-login {
  height: 50px;
  width: 30%;
}
.driver-written {
  margin: 0 0 5% 0;
}
.close-register {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.contetn-check {
  display: flex;
  align-items: center;
}
.check-out {
  margin: 0 0 3% 3%;
  font-size: 15px;
}
.fieerrersay {
  display: flex;
  margin: 0 0 4% 0;
  font-size: 40px;
  padding: 0;
  border: none;
  background: #fff;
  cursor: pointer;
}
.fieerrersay.dark {
  background: #222;
  color: #fff;
  border-radius: 34px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 20px;
}
@media (max-width: 600px) {
  .pay-money {
    flex-direction: column;
    padding: 5%;
  }
  .pay-onetitle,
  .pay-twotitle {
    width: 100%;
    border-left: none;
    border-top: 1px solid #807f7f;
    margin-top: 20px;
    padding-top: 20px;
  }
  .pay-content {
    font-size: 22px;
    padding-left: 0;
    text-align: center;
  }
  .pay_secondtime-modor {
    font-size: 18px;
    flex-direction: column;
    gap: 10px;
  }
  .pay_onetitle-secondtime {
    flex-direction: column;
    gap: 20px;
  }
  .pay_secondtime-onelist {
    width: 100%;
  }
  .twotitle-onepause,
  .twotitle-sale,
  .twotitle-endding,
  .product-list {
    width: 100%;
    margin: 2% 0;
  }
  .twotitle-user,
  .twotitle-muangay,
  .twotitle-return {
    width: 100%;
    height: 45px;
    font-size: 16px;
  }
  .pay-saleer {
    width: 98%;
    margin-bottom: 2%;
  }
  .onemore-content,
  .severonetime-content {
    font-size: 18px;
  }
  .threemore-severtwotime {
    font-size: 16px;
    height: 40px;
  }
  .pay-suborder {
    gap: 15px;
  }
  .pay_secondtime-twolist {
    width: 100%;
  }
  .secontion-title,
  .register-form {
    width: 80%;
  }
}
